<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: links">
</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container marketing">
    <h3>Event details</h3>
    <div class="row">
        <div class="row">
            <form th:action="@{/reservation/save}" th:object="${reservationToDelete}" method="post">
                <input th:value="*{id}" th:field="*{id}" hidden>
                <input th:value="*{event}" th:field="*{event}" hidden>
                <div class="row">
                    <div class="col-md-3">
                        <label for="participantName">Participant name:</label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" id="participantName" th:value="*{name}" th:field="*{name}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="status">Status:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="radio" name="status" id="status" th:value="CONFIRMED"> Confirmed<br>
                        <input type="radio" name="status" th:value="UNCONFIRMED" > Unconfirmed<br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-3 col-md-5">
                        <input class="form-control" type="submit" th:value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>